<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <%- JSON.stringify(currentUser) %>
    <% include partials/alerts %>
    <div class="container">
      <div  class="row">
        <h1 class="well col-sm-8">Watchlist Central</h1>
        <p class="col-sm-4"></p>
      </div>
      <%- body %>
      <br>
      <div class="well">
        <p>Add movies or tv shows and get the plot, reviews, rating, awards, director, actors, and a poster for all your favorite films and tv shows.</p>
        <p>Once signed in go to your profile and begin adding items and reviewing your watchlist.</p>
      </div>


      <!-- <p>Weekend Top 5 Domestic Box Office</p>
      <script type="text/javascript" language="javascript" src="https://www.boxofficemojo.com/data/js/wknd5.php"></script>
      <br> -->
      <a href="/" class="btn btn-primary">Home</a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/main.js"></script>

    <!-- <script src="//code.jquery.com/jquery.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
