<div class="container">
  <div class="well">
    <h1><%- movie %></h1>

    <h3>Title:</h3>
    <% title.forEach(function(){ %>
      <p>
        <%- title.name %>:
      </p>
    <% }); %>

    <h3>Year:</h3>
    <p>
      <%- year %>
    </p>

    <h3>Rating:</h3>
    <p>
      <%- rating %>
    </p>

  </div>
</div>
