<div class="container">
  <div class="well">

    <form action="/movie/:imdbid" method="post">
      <div class="form-group">
        <label for="title">Title</label>
      </div>

      <h1><%- movie %></h1>

      <h3>Title:</h3>
        <p>
          <%= movie.Title %>:
        </p>
        
    </form>

  </div>
</div>
