body{
  background-image: url(../movieimage.png);
}
img {
  width: 200px;
  height: 300px;
}
.wborder {
  padding-left: 80px;
}
.watchlistbody {
    color: black;
  }
.itembody {
  background-color: white;
  border: 2px solid black;
}
.poster {
  border: solid white;
}
.imgcenter {
  margin: 0 auto;
  text-align: center;
}
.buttondelete {
  margin-top: 20px;
}
.buttonsubmit {
  margin-top: 20px;
  margin-left: 10px;
}
.info {
  background-color: white;
}
