body{
  background-image: url(../movieimage.png);
}
img {
  width: 150px;
  height: 225px;
}
.wborder {
}
.watchlistbody {
    color: white;
  }
.itembody {
  background-color: grey;
  border: 2px solid white;
  border-radius: 1%;
}
.poster {
  border: solid white;
}
